section {
	&.engage-us {
		padding-bottom: 50px;
		.engage-content {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: auto;
				height: 150px;
				margin-right: 150px;
			}
			p {
				font-size: 25px;
				color: black;
			}
		}
	}
}