.hero {
	height: 600px;
	.testimonials & {
		height: 250px;
	}
	.audits & {
		height: 250px;
	}
	position: relative;
	background-position: center;
	background-size: cover;
	.hero-content {
		margin-top: 100px;
		h1 {
			color: white;
		}
	}
}