a {
    color: #ed5427;
    &:hover {
        color: #ed5427;
    }
}

span.yellow-border-bar {
    border-top: 4px solid #203467;
    display: block;
    position: relative;
    width: 100%;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        width: 150px;
        height: 4px;
        background-color: #ed5225;
    }
}

.meta-data {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .meta-left {
        margin-right: 20px;
        display: flex;
        img {
            border-radius: 100%;
        }
    }
    .meta-content {
        display: flex;
        flex-direction: column;
        .author {
            margin: 0;
            line-height: 1;
            a {
                font-family: $fontPoppins;
                font-size: 14px;
                line-height: 21px;
                color: #181818;    
            }
        }
        time {
            color: #999999;
            font-size: 14px;
            line-height: 14px;
        }
    }
}