header {
	&.banner {
		background-color: #203467;
		height: 80px;
		.container {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			a.brand {
				margin-left: -30px;
				img {
					height: 50px;
				}
			}
			nav {
				display: flex;
				align-items: center;
				ul.nav {
					display: flex;
					li {
						margin: 0 10px;
						a {
							color: white;
						}
					}
				}
				a.btn-engage {
					margin-left: 20px;
					color: white;
					background-color: $flamingo;
					width: 120px;
					height: 30px;
					border-radius: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}